/*爱心💗样式*/
.Love {
  margin: 140px auto;
  margin-right: 200px;
  width: 300px;
  height: 300px;
  position: relative;
  animation-name: beMoved;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease;
  /*设置兼容性*/
  /*Safari 和 Chrome*/
  -webkit-animation-name: beMoved;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  -webkit-animation-timing-function: ease;
  /*Firefox*/
  -moz-animation-name: beMoved;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-play-state: running;
  -moz-animation-timing-function: ease;
  /*Opera*/
  -o-animation-name: beMoved;
  -o-animation-delay: 0;
  -o-animation-duration: 0.5s;
  -o-animation-iteration-count: infinite;
  -o-animation-play-state: running;
  -o-animation-timing-function: ease;
}

.Love div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: pink;
  /*在相对定位的容器中使用绝对定位 就会将父级容器作为母容器 只会在母容器中而不会以当前窗体的文档中乱跑*/
  animation-name: light;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease;
  /*设置兼容性*/
  /*Safari 和 Chrome*/
  -webkit-animation-name: light;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  -webkit-animation-timing-function: ease;
  /*Firefox*/
  -moz-animation-name: light;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-play-state: running;
  -moz-animation-timing-function: ease;
  /*Opera*/
  -o-animation-name: light;
  -o-animation-delay: 0;
  -o-animation-duration: 0.5s;
  -o-animation-iteration-count: infinite;
  -o-animation-play-state: running;
  -o-animation-timing-function: ease;
}

.loveLeft,
.loveRight {
  /*母容器中的div都是绝对定位的时候 三个div都会重叠在一起*/
  /*设置前两个div的左边和上边的边框 让它变成一个半圆的矩形*/
  /*然后旋转这两个半圆 就能让看到 ♥的上半部分了*/
  border-radius: 300px 300px 0 0;
  /*左上边的边框的半径为300px*/
  /*右上边的边框的半径为300px*/
  /*右下边的边框的半径为0px*/
  /*左下边的边框的半径为0px*/
  /*这四个值 是按照顺时针来的*/
}

.loveLeft {
  /*左边的div X轴平移-50px 然后以中心为轴 旋转-50度 也就是逆时针旋转50度  从右往左旋转*/
  transform: translate(-50px, 0) rotate(-50deg);
  /*设置兼容以下几种主流浏览器的兼容性*/
  -webkit-transform: translate(-50px, 0) rotate(-50deg);
  -moz-transformtransform: translate(-50px, 0) rotate(-50deg);
  -o-transformtransform: translate(-50px, 0) rotate(-50deg);
  -ms-transform: translate(-50px, 0) rotate(-50deg);
}

.loveRight {
  /*右边的div X轴平移50px 然后以中心为轴 旋转50度 这是顺势针旋转50度 从左往右转*/
  transform: translate(50px, 0) rotate(50deg);
  /*设置兼容以下几种主流浏览器的兼容性*/
  -webkit-transform: translate(50px, 0) rotate(50deg);
  -moz-transformtransform: translate(50px, 0) rotate(50deg);
  -o-transformtransform: translate(50px, 0) rotate(50deg);
  -ms-transform: translate(50px, 0) rotate(50deg);
}

.loveBottom {
  /*下边的div Y轴平移55px 然后以中心为轴旋转45度 也就是让这个div 变成一个竖着的菱形 由于 前两个div设置了圆角边框 所以宽度掩盖不了这个竖着的菱形了 于是就缩小为原来的0.9倍*/
  transform: translate(0, 52px) rotate(45deg) scale(0.9, 0.9);
  /*设置兼容以下几种主流浏览器的兼容性 Safari Chrome Firefox IE*/
  -webkit-transform: translate(0, 52px) rotate(45deg) scale(0.9, 0.9);
  -moz-transformtransform: translate(0, 52px) rotate(45deg) scale(0.9, 0.9);
  -o-transformtransform: translate(0, 52px) rotate(45deg) scale(0.9, 0.9);
  -ms-transform: translate(0, 52px) rotate(45deg) scale(0.9, 0.9);
}

/*星星已经做完了  开始让她扑嗵扑嗵的跳动起来*/
@keyframes beMoved {
  /*从一开始什么样 到后来怎么样*/
  from {
    transform: scale(0.9, 0.9);
  }

  to {
    transform: scale(1.1, 1.1);
  }
}
/*设置兼容不同的浏览器*/
@-webkit-keyframes beMoved {
  /*Safari和Chrome*/
  from {
    transform: scale(0.9, 0.9);
  }

  to {
    transform: scale(1.1, 1.1);
  }
}

@-moz-keyframes beMoved {
  /*Firefox*/
  from {
    transform: scale(0.9, 0.9);
  }

  to {
    transform: scale(1.1, 1.1);
  }
}

@-o-keyframes beMoved {
  /*Opera*/
  from {
    transform: scale(0.9, 0.9);
  }

  to {
    transform: scale(1.1, 1.1);
  }
}

@keyframes light {
  /*让星星发光一下*/
  from {
  }

  to {
    box-shadow: 0px 0px 52px pink;
  }
}

@-webkit-keyframes light {
  from {
  }

  to {
    box-shadow: 0px 0px 52px pink;
  }
}

@-moz-keyframes light {
  from {
  }

  to {
    box-shadow: 0px 0px 52px pink;
  }
}

@-o-keyframes light {
  from {
  }

  to {
    box-shadow: 0px 0px 52px pink;
  }
}
